<section class="contact">
    <div class="row">
        <div class="image">
            <img src="images/contact-img.svg" alt="">
        </div>
        <form action="" method="post">
            <h3>ponerse en contacto</h3>
            <input type="text" placeholder="ingrese su nombre" name="name" required maxlength="50" class="box">
            <input type="email" placeholder="ingrese su correo electrónico" name="email" required maxlength="50"
                class="box">
            <input type="number" placeholder="ingrese su número" name="number" required maxlength="50" class="box">
            <textarea name="msg" class="box" placeholder="ingrese su mensaje" required maxlength="1000" cols="30"
                rows="10"></textarea>
            <input type="submit" value="enviar mensaje" class="inline-btn" name="submit">
        </form>
    </div>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-phone"></i>
            <h3>número de teléfono</h3>
            <a href="tel:1234567890">123-456-7890</a>
            <a href="tel:1112223333">111-222-3333</a>
        </div>
        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>dirección de correo electrónico</h3>
            <a href="mailto:shaikhanas@gmail.com">edgar&#64;gmail.com</a>
            <a href="mailto:anasbhai@gmail.com">diago&#64;gmail.com</a>
        </div>
        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>dirección de la oficina</h3>
            <a href="#">departamento no. 1, edificio a-1, Quito, Pichincia, Ecuador - 400104</a>
        </div>
    </div>
</section>