<section class="teachers">

    <h1 class="heading">profesores expertos</h1>

    <form action="" method="post" class="search-tutor">
        <input type="text" name="search_box" placeholder="buscar tutores..." required maxlength="100">
        <button type="submit" class="fas fa-search" name="search_tutor"></button>
    </form>

    <div class="box-container">

        <div class="box offer">
            <h3>conviértete en tutor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque ipsam fuga ex et aliquam.</p>
            <a routerLink="/register" class="inline-btn">comienza ahora</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-2.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-3.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-4.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-5.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-6.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-7.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

        <div class="box">
            <div class="tutor">
                <img src="images/pic-8.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>desarrollador</span>
                </div>
            </div>
            <p>total de listas de reproducción: <span>4</span></p>
            <p>total de videos: <span>18</span></p>
            <p>total de likes: <span>1208</span></p>
            <a routerLink="/teacher-profile" class="inline-btn">ver perfil</a>
        </div>

    </div>

</section>