<section class="form-container">

    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <h3>regístrate ahora</h3>
        <p>tu nombre <span>*</span></p>
        <input type="text" name="name" ngModel placeholder="introduce tu nombre" required maxlength="50" class="box">
        <p>tu correo electrónico <span>*</span></p>
        <input type="email" name="email" ngModel placeholder="introduce tu correo electrónico" required maxlength="50"
            class="box">
        <p>tu contraseña <span>*</span></p>
        <input type="password" name="password" ngModel placeholder="introduce tu contraseña" required maxlength="20"
            class="box">
        <p>confirma tu contraseña <span>*</span></p>
        <input type="password" name="cpass" ngModel placeholder="confirma tu contraseña" required maxlength="20"
            class="box">
        <p>selecciona perfil <span>*</span></p>
        <input type="file" (change)="onFileChange($event)" accept="image/*" required class="box">
        <input type="submit" value="registrar nuevo" name="submit" class="btn">
    </form>

</section>