<header class="header">
    <section class="flex">
        <a routerLink="/home" class="logo">Educa.</a>
        <form action="search.html" method="post" class="search-form" [class.active]="isSearchVisible">
            <input type="text" name="search_box" required placeholder="buscar cursos..." maxlength="100">
            <button type="submit" class="fas fa-search"></button>
        </form>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars" (click)="toggleSidebar()"></div>
            <div id="search-btn" class="fas fa-search" (click)="toggleSearch()"></div>
            <div id="user-btn" class="fas fa-user" (click)="toggleProfile()"></div>
            <div id="toggle-btn" class="fas fa-sun" (click)="toggleDarkMode()"></div>
        </div>
        <div class="profile" [class.active]="isProfileVisible">
            <img src="images/pic-1.jpg" class="image" alt="">
            <h3 class="name">shaikh anas</h3>
            <p class="role">estudiante</p>
            <a routerLink="/profile" class="btn">ver perfil</a>
            <div class="flex-btn">
                <a routerLink="/login" class="option-btn">iniciar sesión</a>
                <a routerLink="/register" class="option-btn">registrarse</a>
            </div>
        </div>
    </section>
</header>
