<section class="watch-video">

    <div class="video-container">
        <div class="video">
            <video src="images/vid-1.mp4" controls poster="images/post-1-1.png" id="video"></video>
        </div>
        <h3 class="title">tutorial completo de HTML (parte 01)</h3>
        <div class="info">
            <p class="date"><i class="fas fa-calendar"></i><span>22-10-2022</span></p>
            <p class="date"><i class="fas fa-heart"></i><span>44 me gusta</span></p>
        </div>
        <div class="tutor">
            <img src="images/pic-2.jpg" alt="">
            <div>
                <h3>john deo</h3>
                <span>desarrollador</span>
            </div>
        </div>
        <form action="" method="post" class="flex">
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
            <button><i class="far fa-heart"></i><span>me gusta</span></button>
        </form>
        <p class="description">
            Muchas gracias. Entonces, en términos de esfuerzo, aquí hay un ejercicio de flexibilidad.
            Cegados por la culpa del dolor, brindan más.
            Hola, es muy difícil deshacerse de la grasa. Pero hay algunas cosas que no escapan a la ley. A, seguir las cosas
            ¡Que huya el dolor de ese arquitecto, que con razón no quiere hacer nada laborioso con el deseo de los placeres, y de nadie!
        </p>
    </div>

</section>

<section class="comments">

    <h1 class="heading">5 comentarios</h1>

    <form action="" class="add-comment">
        <h3>agregar comentarios</h3>
        <textarea name="comment_box" placeholder="ingresa tu comentario" required maxlength="1000" cols="30"
            rows="10"></textarea>
        <input type="submit" value="agregar comentario" class="inline-btn" name="add_comment">
    </form>

    <h1 class="heading">comentarios de usuarios</h1>

    <div class="box-container">

        <div class="box">
            <div class="user">
                <img src="images/pic-1.jpg" alt="">
                <div>
                    <h3>shaikh anas</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">este es un comentario de shaikh anas</div>
            <form action="" class="flex-btn">
                <input type="submit" value="editar comentario" name="edit_comment" class="inline-option-btn">
                <input type="submit" value="eliminar comentario" name="delete_comment" class="inline-delete-btn">
            </form>
        </div>

        <div class="box">
            <div class="user">
                <img src="images/pic-2.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">¡tutorial increíble! ¡sigue así!</div>
        </div>

        <div class="box">
            <div class="user">
                <img src="images/pic-3.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">¡manera asombrosa de enseñar! ¡muchas gracias!</div>
        </div>

        <div class="box">
            <div class="user">
                <img src="images/pic-4.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">¡me encantó, gracias por el tutorial!</div>
        </div>

        <div class="box">
            <div class="user">
                <img src="images/pic-5.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">¡esto es lo que he estado buscando! ¡muchas gracias!</div>
        </div>

        <div class="box">
            <div class="user">
                <img src="images/pic-2.jpg" alt="">
                <div>
                    <h3>john deo</h3>
                    <span>22-10-2022</span>
                </div>
            </div>
            <div class="comment-box">¡gracias por el tutorial!
                ¿cómo descargar el archivo del código fuente?
            </div>
        </div>

    </div>

</section>