<section class="form-container">

    <form action="" method="post" enctype="multipart/form-data">
        <h3>inicia sesión ahora</h3>
        <p>tu correo electrónico <span>*</span></p>
        <input type="email" name="email" placeholder="introduce tu correo electrónico" required maxlength="50" class="box">
        <p>tu contraseña <span>*</span></p>
        <input type="password" name="pass" placeholder="introduce tu contraseña" required maxlength="20" class="box">
        <input type="submit" value="iniciar sesión" name="submit" class="btn">
    </form>

</section>
