<section class="courses">
    <h1 class="heading">nuestros cursos</h1>
    <div class="box-container">
        <div class="box">
            <div class="tutor">
                <img src="images/pic-2.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-1.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de HTML</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-3.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-2.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de CSS</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-4.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-3.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de JS</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-5.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-4.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de Bootstrap</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-6.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-5.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de JQuery</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-7.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-6.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de SASS</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-8.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-7.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de PHP</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-9.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-8.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de MySQL</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="images/pic-1.jpg" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>21-10-2022</span>
                </div>
            </div>
            <div class="thumb">
                <img src="images/thumb-9.png" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">tutorial completo de react</h3>
            <a routerLink="/playlist" class="inline-btn">ver lista de reproducción</a>
        </div>
    </div>
</section>