<section class="form-container">

    <form action="" method="post" enctype="multipart/form-data">
        <h3>actualizar perfil</h3>
        <p>actualizar nombre</p>
        <input type="text" name="name" placeholder="shaikh anas" maxlength="50" class="box">
        <p>actualizar correo electrónico</p>
        <input type="email" name="email" placeholder="shaikh@gmail.com" maxlength="50" class="box">
        <p>contraseña anterior</p>
        <input type="password" name="old_pass" placeholder="ingresa tu contraseña anterior" maxlength="20" class="box">
        <p>nueva contraseña</p>
        <input type="password" name="new_pass" placeholder="ingresa tu nueva contraseña" maxlength="20" class="box">
        <p>confirmar contraseña</p>
        <input type="password" name="c_pass" placeholder="confirma tu nueva contraseña" maxlength="20" class="box">
        <p>actualizar foto</p>
        <input type="file" accept="image/*" class="box">
        <input type="submit" value="actualizar perfil" name="submit" class="btn">
    </form>

</section>