<div class="side-bar" [class.active]="isActive">
    <div id="close-btn" (click)="closeSidebar()">
        <i class="fas fa-times"></i>
    </div>
    <div class="profile" [class.active]="profileActive">
        <img src="images/pic-1.jpg" class="image" alt="">
        <h3 class="name">Diego Pilataxi</h3>
        <p class="role">estudiante</p>
        <a routerLink="/profile" class="btn">ver perfil</a>
    </div>
    <nav class="navbar">
        <a routerLink="/home"><i class="fas fa-home"></i><span>inicio</span></a>
        <a routerLink="/about"><i class="fas fa-question"></i><span>acerca de</span></a>
        <a routerLink="/courses"><i class="fas fa-graduation-cap"></i><span>cursos</span></a>
        <a routerLink="/teachers"><i class="fas fa-chalkboard-user"></i><span>profesores</span></a>
        <a routerLink="/contact"><i class="fas fa-headset"></i><span>contáctanos</span></a>
    </nav>
</div>